@{
    Layout = null;
}
<div class="block" style="">
    <div ng-app="app" ng-controller="AdministrarUnidadMercanciaController">
        <div id="seccion-1">
            @Html.Partial("~/Views/Botonera/AC_BotoneraBusquedaAcuerdoComercial.cshtml")
        </div>
        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>ADMINISTRAR UNIDAD DE MERCANCIA</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="AdministrarUnidadMercanciaFrm" name="AdministrarUnidadMercanciaFrm">
                    <div class="block_content" style="width: 100%">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Codigo Sunat
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_05"
                                                type="text" ng-enter="Enter()" maxlength="2"
                                                ng-model="$root.DatosFormulario.AdministrarUnidadMercancia.Filtro.CodigoUnidadMercanciaSunat" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Nombre Unidad de Mercancia
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_01"
                                                type="text" ng-enter="Enter()" maxlength="100"
                                                ng-model="$root.DatosFormulario.AdministrarUnidadMercancia.Filtro.NombreUnidadMercancia" />
                                        </div>
                                    </div>
                                     <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Codigo Aduana
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_05"
                                                type="text" ng-enter="Enter()" maxlength="2"
                                                ng-model="$root.DatosFormulario.AdministrarUnidadMercancia.Filtro.CodigoAduanaUnidadMercancia" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="seccion-3">
            <div style="width: 100%; float: left">
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>RESULTADO DE BUSQUEDA</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <div id="ContentListado1a0b5f06-bb91-4713-aa00-966ef96a1009" class="block_content">
                    <div class="form_section" style="width: 100%">
                        <div class="forms2">
                            <div class="table-responsive" style="overflow: hidden">
                                <ng-jqgrid config="config"
                                    addnew="true"
                                    modeldata="$root.DatosFormulario.AdministrarUnidadMercancia.ListaMaestroUnidadMercancia"
                                    gridid="grillaListaMaestroUnidadMercancia"
                                    pagerid="grillaListaMaestroUnidadMercancia_pager"
                                    api="gridapigrillaListaMaestroUnidadMercancia"
                                    flgocultarbarrapaginado="0"
                                    idgrilla="1a0b5f06-bb91-4713-aa00-966ef96a1009"
                                    titulosinresultados=""
                                    ocultarexportar="0"
                                    altogrilla="150px"
                                    idmarcarprimerresgistro="0"
                                    ngclickagregar=""
                                    urllistar="/UnidadMercancia/ConsultaUnidadMercancia"
                                    flgcargargrilla="0">
                                    <table id="grillaListaMaestroUnidadMercancia"></table>
                                    <div id="grillaListaMaestroUnidadMercancia_pager"></div>
                                </ng-jqgrid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
