@{
    Layout = null;
}

<div class="block ng-scope" style="max-width: 800px;">
    <div ng-app="app" ng-controller="BuscarTarifaEscalonadaGeneralController" class="ng-scope">

        @Html.Partial("~/Views/Botonera/BotoneraBusquedaClásicaconBotonSalir.cshtml")

        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Administración de Tarifas</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="BusquedaTarifaEscalonadaGeneralFrm" name="BusquedaTarifaEscalonadaGeneralFrm">
                    <div class="block_content" style="width: 100%">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Línea Naviera
                                        </div>
                                        <div class="col-md-8">
                                            <select ng-model="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.CodigoLinea"
                                                ng-options="linea.Codigo as linea.Nombre for linea in $root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneralCargaInicial.Linea" class="InputSELECT_01 required"
                                                id="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.CodigoLinea"
                                                data-val="true"
                                                data-val-required="Cod. Linea es requerido."
                                                ng-change="ChangeLineaNaviera($root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.CodigoLinea)"
                                                name="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.CodigoLinea"
                                                ng-disabled="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneralCargaInicial.Habilitado=='False'"
                                                required>
                                                <option value="">[Seleccione]</option>
                                            </select>
                                            <div class="caja11 msgerror CodigoLinea">
                                                <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.CodigoLinea" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Tipo de Contenedor
                                        </div>
                                        <div class="col-md-8">
                                            <select ng-model="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.CodigoTipoContenedor"
                                                ng-options="contenedor.CodigoTipoContenedor as contenedor.Descripcion for contenedor in $root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneralCargaInicial.Contenedor" class="InputSELECT_01">
                                                <option value="">[Seleccione]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Descripción Tarifa
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_05 " maxlength="70" type="text" ng-enter="Enter()" ng-model="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.DescripcionTarifa" />
                                            <div class="caja11msgerrorRuc">
                                                <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.DescripcionTarifa" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row col-md-12  ng-hide">
                                        <input type="checkbox" id="TarifaLigadaEscalonada" ng-model="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.FlagTarifaLigada" disabled />Tarifa Ligada
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            <input type="checkbox" id="VigenteTarifaEscalonada" ng-model="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.FlagVigente" checked="checked" disabled />Vigentes
                                        </div>
                                        <div class="col-md-10 ng-hide">
                                            Fecha de Vigencia
                                <input class="InputTEXT_04Fecha"
                                    maxlength="10" type="text"
                                    ng-enter="Enter()"
                                    ng-model="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.FechaVigencia"
                                    data-bind="dateValue: $root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.FechaVigencia, datePattern: 'dd/MM/yyyy'"
                                    data-val="true"
                                    data-val-date="El campo Fecha Vigencia debe ser una fecha."
                                    id="FechaVigencia"
                                    name="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.FechaVigencia"
                                    disabled />
                                            <div class="caja11 msgerror FechaVigencia">
                                                <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.FiltrosBusquedaTarifaEscalonadaGeneral.Filtro.FechaVigencia" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="caja11 msgerror Objeto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="seccion-3">
            <div style="width: 100%; float: left">


                <div class="block_cab block_cab_active">
                    <h2>
                        <span>RESULTADO DE BUSQUEDA</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <div id="ContentListadof478bbe4-1dd1-4f5d-a484-fb4d7d03016v" class="block_content">
                    <div class="form_section" style="width: 100%">

                        <div class="forms2">
                            <div class="table-responsive" style="overflow: hidden">

                                <ng-jqgrid
                                    config="config"
                                    addnew="true"
                                    modeldata="$root.DatosFormulario.ResultadoTarifaEscalonadaGeneral.ListaTarifaEscalonadaGeneral"
                                    gridid="grillaListaTarifaEscalonadaGeneral"
                                    pagerid="grillaListaTarifaEscalonadaGeneral_pager"
                                    api="gridapigrillaListaTarifaEscalonadaGeneral"
                                    flgocultarbarrapaginado="0"
                                    idgrilla="be48090f-32bb-4395-863e-72e31322e203"
                                    titulosinresultados=""
                                    ocultarexportar="0"
                                    altogrilla="150px"
                                    idmarcarprimerresgistro="0"
                                    ngclickagregar=""
                                    urllistar="/TarifaEscalonada/BusquedaTarifaEscalonada"
                                    flgcargargrilla="0">
                                        <table id="grillaListaTarifaEscalonadaGeneral"></table>
                                        <div id="grillaListaTarifaEscalonadaGeneral_pager"></div>
                                    </ng-jqgrid>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
