@{
    Layout = null;
}

<div class="block ng-scope" style="max-width: 800px;">
    <div ng-app="app" ng-controller="BuscarViaTransporteController" class="ng-scope">
        @Html.Partial("~/Views/Botonera/BotoneraBusquedaClásicaconBotonSalir.cshtml")

        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Administración de ViaTransporte</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="BusquedaViaTransporteFrm" name="BusquedaViaTransporteFrm">
                    <div class="block_content" style="width: 100%">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 row">
                                    <div class="col-md-4">
                                        Codigo Sunat
                                    </div>
                                    <div class="col-md-8">
                                        <input class="InputTEXT_05 solonumeros" maxlength="2"
                                            type="text" ng-enter="Enter()"
                                            ng-model="$root.DatosFormulario.FiltrosBusquedaViaTransporte.Filtro.CodigoViaTransporteSunat" />
                                    </div>
                                </div>
                                <div class="col-md-12 row">
                                    <div class="col-md-4">
                                        Nombre Via de Transporte
                                    </div>
                                    <div class="col-md-8">
                                        <input class="InputTEXT_01"
                                            type="text" ng-enter="Enter()" maxlength="50"
                                            ng-model="$root.DatosFormulario.FiltrosBusquedaViaTransporte.Filtro.NombreViaTransporte" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="caja11 msgerror Objeto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="seccion-3">
                <div style="width: 100%; float: left">
                    <div class="block_cab block_cab_active">
                        <h2>
                            <span>RESULTADO DE BUSQUEDA</span>
                        </h2>
                        <h3></h3>
                        <div class="acordeon">
                        </div>
                    </div>
                    <div id="ContentListadof478bbe4-1dd1-4f5d-a484-fb4d7d030166" class="block_content">
                        <div class="form_section" style="width: 100%">
                            <div class="forms2">
                                <div class="table-responsive" style="overflow: hidden">
                                    <ng-jqgrid config="config"
                                        addnew="true"
                                        modeldata="$root.DatosFormulario.grillaListaViaTransporte"
                                        gridid="grillaListaViaTransporte"
                                        pagerid="grillaListaViaTransporte_pager"
                                        api="gridapigrillaListaViaTransporte"
                                        flgocultarbarrapaginado="0"
                                        idgrilla="f478bbe4-1dd1-4f5d-a484-fb4d7d030168"
                                        titulosinresultados=""
                                        ocultarexportar="0"
                                        altogrilla="200px"
                                        idmarcarprimerresgistro="0"
                                        ngclickagregar=""
                                        urllistar="/ViaTransporte/ConsultaViaTransporte"
                                        flgcargargrilla="1">
                                        <table id="grillaListaViaTransporte"></table>
                                        <div id="grillaListaViaTransporte_pager"></div>
                                    </ng-jqgrid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
