@{
    Layout = null;
}

<div class="block ng-scope" style="max-width: 800px;">
    <div ng-app="app" ng-controller="BuscarPersonaxRolController" class="ng-scope">
        @Html.Partial("~/Views/Botonera/BotoneraBusquedaClásicaconBotonSalir.cshtml")

        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Administración de Persona por Rol</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="BusquedaPersonaxRolFrm" name="BusquedaPersonaxRolFrm">
                    <div class="block_content" style="width: 100%">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 row">
                                    <div class="col-md-4">
                                        Razon Social
                                    </div>
                                    <div class="col-md-8">
                                        <input class="InputTEXT_05"
                                            type="text" ng-enter="Enter()" maxlength="150"
                                            ng-model="$root.DatosFormulario.FiltrosBusquedaPersonaxRol.Filtro.RazonSocialPersona" />
                                    </div>
                                </div>
                                <div class="col-md-12 row">
                                    <div class="col-md-4">
                                        Numero de Documento
                                    </div>
                                    <div class="col-md-8">
                                        <input class="InputTEXT_01 solonumeros"
                                            type="text" ng-enter="Enter()" maxlength="11"
                                            ng-model="$root.DatosFormulario.FiltrosBusquedaPersonaxRol.Filtro.NumeroDocumentoPersona" />
                                    </div>
                                </div>
                                <div class="col-md-12 row">
                                    <div class="col-md-8">
                                        <input class="InputTEXT_01"
                                            ng-enter="Enter()" maxlength="2"
                                            type="hidden"
                                            ng-model="$root.DatosFormulario.FiltrosBusquedaPersonaxRol.Filtro.CodigoRol" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="caja11 msgerror Objeto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="seccion-3">
                <div style="width: 100%; float: left">
                    <div class="block_cab block_cab_active">
                        <h2>
                            <span>RESULTADO DE BUSQUEDA</span>
                        </h2>
                        <h3></h3>
                        <div class="acordeon">
                        </div>
                    </div>
                    <div id="ContentListadof478bbe4-1dd1-4f5d-a484-fb4d7d030181" class="block_content">
                        <div class="form_section" style="width: 100%">
                            <div class="forms2">
                                <div class="table-responsive" style="overflow: hidden">
                                    <ng-jqgrid config="config"
                                        addnew="true"
                                        modeldata="$root.DatosFormulario.grillaListaPersonaxRol"
                                        gridid="grillaListaPersonaxRol"
                                        pagerid="grillaListaPersonaxRol_pager"
                                        api="gridapigrillaListaPersonaxRol"
                                        flgocultarbarrapaginado="0"
                                        idgrilla="f478bbe4-1dd1-4f5d-a484-fb4d7d030181"
                                        titulosinresultados=""
                                        ocultarexportar="0"
                                        altogrilla="200px"
                                        idmarcarprimerresgistro="0"
                                        ngclickagregar=""
                                        urllistar="/PersonaxRol/ConsultaPersonaxRol"
                                        flgcargargrilla="1">
                                        <table id="grillaListaPersonaxRol"></table>
                                        <div id="grillaListaPersonaxRol_pager"></div>
                                    </ng-jqgrid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
