@{
    Layout = null;
}

<div class="block ng-scope" style="max-width: 800px;">
    <div ng-app="app" ng-controller="BuscarContenedorController" class="ng-scope">
        @Html.Partial("~/Views/Botonera/BotoneraBusquedaClásicaconBotonSalir.cshtml")

        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Administración de Contenedor</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="BusquedaContenedorFrm" name="BusquedaContenedorFrm">
                    <div class="block_content" style="width: 100%">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Numero de Contenedor
                                </div>
                                <div class="col-md-8">
                                    <input class="InputTEXT_05"
                                        type="text" ng-enter="Enter()" maxlength="11" onkeyup="mayus(this);"
                                        ng-model="$root.DatosFormulario.FiltrosBusquedaContenedor.Filtro.NumeroContenedor" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Tara
                                </div>
                                <div class="col-md-8">
                                    <input class="InputTEXT_01 solodecimal"
                                        type="text" ng-enter="Enter()"
                                        ng-model="$root.DatosFormulario.FiltrosBusquedaContenedor.Filtro.Tara" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Tipo
                                </div>
                                <div class="col-md-8">
                                    <input class="InputTEXT_01"
                                        type="text" ng-enter="Enter()" maxlength="2"
                                        ng-model="$root.DatosFormulario.FiltrosBusquedaContenedor.Filtro.CodTipoContenedor" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Tipo de Contenedor
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="ng-hide" ng-model="$root.DatosFormulario.FiltrosBusquedaContenedor.Filtro.CodigoTipoContenedor" />
                                    <input class="InputTEXT_05" style="height: 23px; width: 280px;"
                                        type="text"
                                        ng-enter="Enter()"
                                        ng-model="$root.DatosFormulario.FiltrosBusquedaContenedor.Filtro.NombreTipoContenedor"
                                        ng-disabled="true" />
                                    <input type="image" ng-click="BuscarTipoContenedor_Click();" value="Buscar" src="\Images\buscar.png" class=""
                                        style="border-width: 0px; width: 25px; margin-bottom: -10px;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="caja11 msgerror Objeto"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="seccion-3">
                <div style="width: 100%; float: left">
                    <div class="block_cab block_cab_active">
                        <h2>
                            <span>RESULTADO DE BUSQUEDA</span>
                        </h2>
                        <h3></h3>
                        <div class="acordeon">
                        </div>
                    </div>
                    <div id="ContentListadof478bbe4-1dd1-4f5d-a484-fb4d7d030204" class="block_content">
                        <div class="form_section" style="width: 100%">
                            <div class="forms2">
                                <div class="table-responsive" style="overflow: hidden">
                                    <ng-jqgrid config="config"
                                        addnew="true"
                                        modeldata="$root.DatosFormulario.grillaListaContenedor"
                                        gridid="grillaListaContenedor"
                                        pagerid="grillaListaContenedor_pager"
                                        api="gridapigrillaListaContenedor"
                                        flgocultarbarrapaginado="0"
                                        idgrilla="f478bbe4-1dd1-4f5d-a484-fb4d7d030204"
                                        titulosinresultados=""
                                        ocultarexportar="0"
                                        altogrilla="200px"
                                        idmarcarprimerresgistro="0"
                                        ngclickagregar=""
                                        urllistar="/Contenedor/ConsultaContenedor"
                                        flgcargargrilla="1">
                                        <table id="grillaListaContenedor"></table>
                                        <div id="grillaListaContenedor_pager"></div>
                                    </ng-jqgrid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
