<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="PaginasAnonimas" type="System.Configuration.DictionarySectionHandler" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\log4net.log" />
      <appendToFile value="true" />
      <maximumFileSize value="500KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TRAMARSA.AGMA.ACUERDOCOMERCIAL-20161111113803;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-TRAMARSA.AGMA.ACUERDOCOMERCIAL-20161111113803.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ExpiracionCacheHoras" value="24" />
    <!--FIN - COMUN SCRIPTOR-->
    <add key="From" value="" />
    <add key="Host" value="10.72.1.71" />
    <add key="Port" value="" />
    <add key="EnableSsl" value="false" />
    <add key="UseDefaultCredentials" value="true" />
    <add key="CredentialsUser" value="" />
    <add key="CredentialsClave" value="" />

    <add key="HabilitarLog" value="1" />
    <add key="TipoCorreoAdjunto" value="2" />
    <add key="TipoError" value="INFO" />
    <!--1:Imagenes Adjuntas, 2: Imagenes Embebidas, 3: Imágenes Front End Url-->
    <add key="RutaLogMain" value="\log\" />
    <add key="NameLog" value="LogAcuerdosComercialesWeb.txt" />
    <add key="NameLogEventos" value="LogAcuerdosComercialesWeb.txt" />

    <!-- LOCALHOST TX  - INICIO -->
    <add key="UrlRegistrarTransmisionNave" value="http://localhost:8733/Transmisiones.svc/RegistrarTransmisionNave" />
    <add key="UrlConsultarTransmisionNave" value="http://localhost:8733/Transmisiones.svc/ConsultarTransmisionNave" />
    <add key="UrlConsultarLogTransmisionNave" value="http://localhost:8733/Transmisiones.svc/ConsultarLogTransmisionNave" />
    <add key="UrlRegistrarTransmisionDocumento" value="http://localhost:8733/Transmisiones.svc/RegistrarTransmisionDocumento" />
    <add key="UrlConsultarTransmisionDocumento" value="http://localhost:8733/Transmisiones.svc/ConsultarTransmisionDocumento" />
    <add key="UrlConsultarLogTransmisionDocumento" value="http://localhost:8733/Transmisiones.svc/ConsultarLogTransmisionDocumento" />

    <add key="UrlListarRoles" value="http://localhost:8733/MaestroServicio.svc/ConsultaRoles" />
    <add key="UrlListarTiposBL" value="http://localhost:8733/MaestroServicio.svc/ConsultaTiposBL" />
    <add key="UrlListarCondicionesTransporte" value="http://localhost:8733/MaestroServicio.svc/ConsultaCondicionesTransporte" />
    <add key="UrlListarTemperaturas" value="http://localhost:8733/MaestroServicio.svc/ConsultaTemperaturas" />
    <add key="UrlListarCondicionesCarga" value="http://localhost:8733/MaestroServicio.svc/ConsultaCondicionesCarga" />
    <add key="UrlListarModosPago" value="http://localhost:8733/MaestroServicio.svc/ConsultaModosPago" />
    <add key="UrlListarTiposTransmisionNave" value="http://localhost:8733/MaestroServicio.svc/ConsultaTiposTransmisionNave" />
    <add key="UrlListarTiposTransmisionDocumento" value="http://localhost:8733/MaestroServicio.svc/ConsultaTiposTransmisionDocumento" />
    <add key="UrlListarCondicionesContrato" value="http://localhost:8733/MaestroServicio.svc/ConsultaCondicionesContrato" />
    <add key="UrlListarTiposEnvio" value="http://localhost:8733/MaestroServicio.svc/ConsultaTiposEnvio" />
    <add key="UrlListarTiposOperacion" value="http://localhost:8733/MaestroServicio.svc/ConsultaTiposOperacion" />

    <add key="UrlRegistrarPais" value="http://localhost:8733/MaestroServicio.svc/RegistrarPais" />
    <add key="UrlConsultarPais" value="http://localhost:8733/MaestroServicio.svc/ConsultarPais" />

    <add key="UrlConsultarPersonaxRol" value="http://localhost:8733/MaestroServicio.svc/ConsultarPersonaxRol" />

    <add key="UrlRegistrarItinerario" value="http://localhost:8733/MaestroServicio.svc/RegistrarItinerario" />
    <add key="UrlConsultarItinerario" value="http://localhost:8733/MaestroServicio.svc/ConsultarItinerario" />

    <add key="UrlRegistrarContenedor" value="http://localhost:8733/MaestroServicio.svc/RegistrarContenedor" />
    <add key="UrlConsultarContenedor" value="http://localhost:8733/MaestroServicio.svc/ConsultarContenedor" />

    <add key="UrlRegistrarNumeroIMO" value="http://localhost:8733/MaestroServicio.svc/RegistrarNumeroIMO" />
    <add key="UrlConsultarNumeroIMO" value="http://localhost:8733/MaestroServicio.svc/ConsultarNumeroIMO" />

    <add key="UrlRegistrarClaseIMO" value="http://localhost:8733/MaestroServicio.svc/RegistrarClaseIMO" />
    <add key="UrlConsultarClaseIMO" value="http://localhost:8733/MaestroServicio.svc/ConsultarClaseIMO" />

    <add key="UrlRegistrarNaturalezaCarga" value="http://localhost:8733/MaestroServicio.svc/RegistrarNaturalezaCarga" />
    <add key="UrlConsultarNaturalezaCarga" value="http://localhost:8733/MaestroServicio.svc/ConsultarNaturalezaCarga" />

    <add key="UrlRegistrarCondicionCarga" value="http://localhost:8733/MaestroServicio.svc/RegistrarCondicionCarga" />
    <add key="UrlConsultarCondicionCarga" value="http://localhost:8733/MaestroServicio.svc/ConsultarCondicionCarga" />

    <add key="UrlRegistrarUnidadMercancia" value="http://localhost:8733/MaestroServicio.svc/RegistrarUnidadMercancia" />
    <add key="UrlConsultarUnidadMercancia" value="http://localhost:8733/MaestroServicio.svc/ConsultarUnidadMercancia" />

    <add key="UrlRegistrarTipoMovimiento" value="http://localhost:8733/MaestroServicio.svc/RegistrarTipoMovimiento" />
    <add key="UrlConsultarTipoMovimiento" value="http://localhost:8733/MaestroServicio.svc/ConsultarTipoMovimiento" />

    <add key="UrlRegistrarCondicionTransporte" value="http://localhost:8733/MaestroServicio.svc/RegistrarCondicionTransporte" />
    <add key="UrlConsultarCondicionTransporte" value="http://localhost:8733/MaestroServicio.svc/ConsultarCondicionTransporte" />

    <add key="UrlRegistrarTemperatura" value="http://localhost:8733/MaestroServicio.svc/RegistrarTemperatura" />
    <add key="UrlConsultarTemperatura" value="http://localhost:8733/MaestroServicio.svc/ConsultarTemperatura" />

    <add key="UrlRegistrarTipoContenedor" value="http://localhost:8733/MaestroServicio.svc/RegistrarTipoContenedor" />
    <add key="UrlConsultarTipoContenedor" value="http://localhost:8733/MaestroServicio.svc/ConsultarTipoContenedor" />

    <add key="UrlRegistrarTipoBL" value="http://localhost:8733/MaestroServicio.svc/RegistrarTipoBL" />
    <add key="UrlConsultarTipoBL" value="http://localhost:8733/MaestroServicio.svc/ConsultarTipoBL" />

    <add key="UrlRegistrarRequerimientoServicio" value="http://localhost:8733/MaestroServicio.svc/RegistrarRequerimientoServicio" />
    <add key="UrlConsultarRequerimientoServicio" value="http://localhost:8733/MaestroServicio.svc/ConsultarRequerimientoServicio" />

    <add key="UrlRegistrarCondicionContrato" value="http://localhost:8733/MaestroServicio.svc/RegistrarCondicionContrato" />
    <add key="UrlConsultarCondicionContrato" value="http://localhost:8733/MaestroServicio.svc/ConsultarCondicionContrato" />

    <add key="UrlRegistrarTipoEnvio" value="http://localhost:8733/MaestroServicio.svc/RegistrarTipoEnvio" />
    <add key="UrlConsultarTipoEnvio" value="http://localhost:8733/MaestroServicio.svc/ConsultarTipoEnvio" />

    <add key="UrlRegistrarEntidadPrecinto" value="http://localhost:8733/MaestroServicio.svc/RegistrarEntidadPrecinto" />
    <add key="UrlConsultarEntidadPrecinto" value="http://localhost:8733/MaestroServicio.svc/ConsultarEntidadPrecinto" />

    <add key="UrlRegistrarPrecinto" value="http://localhost:8733/MaestroServicio.svc/RegistrarPrecinto" />
    <add key="UrlConsultarPrecinto" value="http://localhost:8733/MaestroServicio.svc/ConsultarPrecinto" />

    <add key="UrlRegistrarCondicionPrecinto" value="http://localhost:8733/MaestroServicio.svc/RegistrarCondicionPrecinto" />
    <add key="UrlConsultarCondicionPrecinto" value="http://localhost:8733/MaestroServicio.svc/ConsultarCondicionPrecinto" />

    <add key="UrlRegistrarTipoOperacion" value="http://localhost:8733/MaestroServicio.svc/RegistrarTipoOperacion" />
    <add key="UrlConsultarTipoOperacion" value="http://localhost:8733/MaestroServicio.svc/ConsultarTipoOperacion" />

    <add key="UrlRegistrarRol" value="http://localhost:8733/MaestroServicio.svc/RegistrarRol" />
    <add key="UrlConsultarRol" value="http://localhost:8733/MaestroServicio.svc/ConsultarRol" />

    <add key="UrlRegistrarNave" value="http://localhost:8733/MaestroServicio.svc/RegistrarNave" />
    <add key="UrlConsultarNave" value="http://localhost:8733/MaestroServicio.svc/ConsultarNave" />

    <add key="UrlRegistrarLineaNaviera" value="http://localhost:8733/MaestroServicio.svc/RegistrarLineaNaviera" />
    <add key="UrlConsultarLineaNaviera" value="http://localhost:8733/MaestroServicio.svc/ConsultarLineaNaviera" />

    <add key="UrlRegistrarMedioTransporte" value="http://localhost:8733/MaestroServicio.svc/RegistrarMedioTransporte" />
    <add key="UrlConsultarMedioTransporte" value="http://localhost:8733/MaestroServicio.svc/ConsultarMedioTransporte" />

    <add key="UrlRegistrarTipoLugarCarga" value="http://localhost:8733/MaestroServicio.svc/RegistrarTipoLugarCarga" />
    <add key="UrlConsultarTipoLugarCarga" value="http://localhost:8733/MaestroServicio.svc/ConsultarTipoLugarCarga" />

    <add key="UrlRegistrarTipoNave" value="http://localhost:8733/MaestroServicio.svc/RegistrarTipoNave" />
    <add key="UrlConsultarTipoNave" value="http://localhost:8733/MaestroServicio.svc/ConsultarTipoNave" />

    <add key="UrlRegistrarModoPago" value="http://localhost:8733/MaestroServicio.svc/RegistrarModoPago" />
    <add key="UrlConsultarModoPago" value="http://localhost:8733/MaestroServicio.svc/ConsultarModoPago" />

    <add key="UrlRegistrarMoneda" value="http://localhost:8733/MaestroServicio.svc/RegistrarMoneda" />
    <add key="UrlConsultarMoneda" value="http://localhost:8733/MaestroServicio.svc/ConsultarMoneda" />

    <add key="UrlRegistrarTipoFlete" value="http://localhost:8733/MaestroServicio.svc/RegistrarTipoFlete" />
    <add key="UrlConsultarTipoFlete" value="http://localhost:8733/MaestroServicio.svc/ConsultarTipoFlete" />

    <add key="UrlRegistrarTipoDocumento" value="http://localhost:8733/MaestroServicio.svc/RegistrarTipoDocumento" />
    <add key="UrlConsultarTipoDocumento" value="http://localhost:8733/MaestroServicio.svc/ConsultarTipoDocumento" />

    <add key="UrlRegistrarPuerto" value="http://localhost:8733/MaestroServicio.svc/RegistrarPuerto" />
    <add key="UrlConsultarPuerto" value="http://localhost:8733/MaestroServicio.svc/ConsultarPuerto" />

    <add key="UrlRegistrarViaTransporte" value="http://localhost:8733/MaestroServicio.svc/RegistrarViaTransporte" />
    <add key="UrlConsultarViaTransporte" value="http://localhost:8733/MaestroServicio.svc/ConsultarViaTransporte" />

    <add key="UrlRegistrarAduana" value="http://localhost:8733/MaestroServicio.svc/RegistrarAduana" />
    <add key="UrlConsultarAduana" value="http://localhost:8733/MaestroServicio.svc/ConsultarAduana" />

    <add key="UrlRegistrarPersona" value="http://localhost:8733/Documento.svc/RegistrarPersona" />
    <add key="UrlConsultarPersona" value="http://localhost:8733/Documento.svc/ConsultarPersona" />
    <add key="UrlConsultarDetallePersona" value="http://localhost:8733/Documento.svc/ConsultarDetallePersona" />

    <add key="UrlRegistrarDocumento" value="http://localhost:8733/Documento.svc/RegistrarDocumento" />
    <add key="UrlConsultarDocumento" value="http://localhost:8733/Documento.svc/ConsultarDocumento" />
    <add key="UrlConsultarDetalleDocumento" value="http://localhost:8733/Documento.svc/ConsultarDetalleDocumento" />

    <!---ID Grillas-->
    <add key="IdGrilla_ConsultaTarifa" value="C293C8DE-4D2D-4B54-84F4-39F4F0B4E6CF" />

  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />

    <httpErrors errorMode="Detailed" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:01" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="8192" maxQueryString="4096" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.19.0" newVersion="3.2.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="RemoteOnly" />
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />

  </system.web>
</configuration>