@{
    Layout = null;
}

<div class="block" style="">
    <div ng-app="app" ng-controller="NotificarContenedoresController">



        <div>
            <div class="block_cab block_cab_active">
                <h2>
                    <span>Sección Enviar Notificación</span></h2>
                <h3></h3>
                <div class="acordeon">
                </div>
            </div>
            <div class="block_content" style="width: 100%">

                <div class="block_menu block_content">
                    <div style="max-width: 100%; height: 100%">

                        <div class="col-md-12 row">
                            <div class="col-xs-2">
                                <button class="SeparatorLeft boton1Style boton1" ng-click="NotificarContenedor_Click();" style="width: 40%;" ng-disabled="FlagEditing==false">
                                    <span class="boton1Span">
                                        <img class="boton1Img csBtnAgregar" alt="Agregar" src="/Images/formatmap32x32.png">
                                    </span>
                                    <span class="boton1txt">Notificar Contenedores</span>
                                </button>
                            </div>
                            <div class="col-xs-10">
                                <div class="col-xs-12 col-md-12">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


