@{
    Layout = null;
}

<div class="block ng-scope" style="">
    <div ng-app="app" ng-controller="ReporteContenedorNoDevueltoController" class="ng-scope">

        @Html.Partial("~/Views/Botonera/AC_Reporte_BotoneraReporteDirecto.cshtml")

        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Reporte de Contenedores No Devueltos</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="ContenedorNoDevueltoFrm" name="ContenedorNoDevueltoFrm">
                    <div class="block_content" style="width: 100%">
                        <div class="col-md-12 row">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Línea Naviera
                                        </div>
                                        <div class="col-md-8">
                                            <select ng-model="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.CodigoLinea"
                                                    data-val="true"
                                                    id="txtCodigoLinea"
                                                    data-bind="value: $root.DatosFormulario.ContenedorNoDevuelto.Filtro.CodigoLinea"
                                                    ng-disabled="$root.DatosFormulario.ContenedorNoDevuelto.Datos.Habilitado=='False'"
                                                    ng-options="linea.Codigo as linea.Nombre for linea in $root.DatosFormulario.ContenedorNoDevuelto.Datos.Linea"
                                                    class="InputSELECT_01">
                                                <option value="">[Seleccione]</option>
                                            </select>
                                            <div class="caja11 msgerror CodigoLinea">
                                                <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.CodigoLinea" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Cliente
                                        </div>
                                        <div class="col-md-8">
                                            <input class="ng-hide" maxlength="70" id="txtCodigoCliente" type="text" ng-model="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.CodigoCliente" disabled />
                                            <input class="InputTEXT_05 " type="text" ng-enter="Enter()" ng-model="$root.DatosFormulario.ContenedorNoDevuelto.Datos.NombreCliente" disabled />
                                            <input type="image" ng-click="BuscarCliente_Click();" value="Buscar" src="\Images\buscar.png" class=""
                                                   style="border-width: 0px; width: 25px; margin-bottom: -10px;">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            BL
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_05 " type="text" id="txtNro_Bl" ng-enter="Enter()" ng-model="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.Nro_Bl" disabled />
                                            <input type="image" ng-click="BuscarNroBL_Click();" value="Buscar" src="\Images\buscar.png" class=""
                                                   style="border-width: 0px; width: 25px; margin-bottom: -10px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Contenedor
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_05 " id="txtCodigoCotenedor" type="text" ng-enter="Enter()" ng-model="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.CodigoCotenedor" disabled />
                                            <input type="image" ng-click="BuscarNroCtn_Click();" value="Buscar" src="\Images\buscar.png" class=""
                                                   style="border-width: 0px; width: 25px; margin-bottom: -10px;">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Fecha Inicio
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_04Fecha"
                                                   maxlength="10" type="text"
                                                   ng-model="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.Desde"
                                                   data-bind="dateValue: $root.DatosFormulario.ContenedorNoDevuelto.Filtro.Desde,datePattern: 'dd/MM/yyyy'"
                                                   data-val="true"
                                                   ng-enter="Enter()"
                                                   data-val-date="Fecha Inicio debe ser una fecha."
                                                   id="txtDesde"
                                                   name="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.Desde"
                                                   required
                                                   control_max_date="txtHasta" />
                                            <div class="caja11 msgerror Desde">
                                                <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.Desde" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Fecha Termino
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_04Fecha"
                                                   maxlength="10" type="text"
                                                   ng-model="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.Hasta"
                                                   data-bind="dateValue: $root.DatosFormulario.ContenedorNoDevuelto.Filtro.Hasta,datePattern: 'dd/MM/yyyy'"
                                                   data-val="true"
                                                   ng-enter="Enter()"
                                                   data-val-date="Fecha Fin debe ser una fecha."
                                                   id="txtHasta"
                                                   name="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.Hasta"
                                                   required
                                                   control_min_date="txtDesde" />
                                            <div class="caja11 msgerror Hasta">
                                                <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.ContenedorNoDevuelto.Filtro.Hasta" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div id="seccion-3">
            <div style="width:100%;float:left">


                <div class="block_cab block_cab_active">
                    <h2>
                        <span>RESULTADO DE BUSQUEDA</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <div id="ContentListado2a64c309-04cb-4428-b008-be08f2b8c548" class="block_content">
                    <div class="form_section" style="width:100%">

                        <div class="forms2">
                            <div class="table-responsive" style="overflow:hidden">

                                <ng-jqgrid config="config"
                                           addnew="true"
                                           modeldata=""
                                           gridid="grillaListaContenedoresNoDevueltos"
                                           pagerid="grillaListaContenedoresNoDevueltos_pager"
                                           api="gridapigrillaListaContenedoresNoDevueltos"
                                           flgocultarbarrapaginado="0"
                                           idgrilla="2a64c309-04cb-4428-b008-be08f2b8c548"
                                           titulosinresultados=""
                                           ocultarexportar="0"
                                           altogrilla="150px"
                                           idmarcarprimerresgistro="0"
                                           ngclickagregar=""
                                           urllistar="/ReporteContenedorNoDevuelto/ConsultarReporteContenedorNoDevuelto"
                                           flgcargargrilla="0">
                                    <table id="grillaListaContenedoresNoDevueltos"></table>
                                    <div id="grillaListaContenedoresNoDevueltos_pager"></div>
                                </ng-jqgrid>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>