@{
    Layout = null;
}

<div class="block ng-scope" style="">
    <div ng-app="app" ng-controller="ReporteTarifaEscalonadaController" class="ng-scope">
        @Html.Partial("~/Views/Botonera/AC_Reporte_BotoneraReporte.cshtml")

        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Reporte de Tarifa Escalonada</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="ReporteTarifaEscalonadaFrm" name="ReporteTarifaEscalonadaFrm">
                    <div class="block_content" style="width:100%">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Línea Naviera
                                        </div>
                                        <div class="col-md-8">
                                            <select ng-model="$root.DatosFormulario.ReporteTarifaEscalonada.Filtro.CodigoLinea"
                                                    data-val="true"
                                                    data-bind="value: $root.DatosFormulario.ReporteTarifaEscalonada.Filtro.CodigoLinea"
                                                    ng-disabled="$root.DatosFormulario.ReporteTarifaEscalonada.Datos.Habilitado=='False'"
                                                    ng-options="linea.Codigo as linea.Nombre for linea in $root.DatosFormulario.ReporteTarifaEscalonada.Datos.Linea"
                                                    class="InputSELECT_01">
                                                <option value="">[Seleccione]</option>
                                            </select>
                                            <div class="caja11 msgerror CodigoLinea">
                                                <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.ReporteTarifaEscalonada.Filtro.CodigoLinea" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Sucursal
                                        </div>
                                        <div class="col-md-8">
                                            <select ng-model="$root.DatosFormulario.ReporteTarifaEscalonada.Filtro.CodigoSucursal"
                                                    ng-options="sucursal.Codigo as sucursal.Nombre for sucursal in $root.DatosFormulario.ReporteTarifaEscalonada.Datos.Sucursal"
                                                    class="InputSELECT_01">
                                                <option value="">[Seleccione]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Moneda
                                        </div>
                                        <div class="col-md-8">
                                            <select class="InputSELECT_01"
                                                    ng-model="$root.DatosFormulario.ReporteTarifaEscalonada.Filtro.CodigoMoneda"
                                                    ng-options="moneda.Codigo as moneda.Nombre for moneda in $root.DatosFormulario.ReporteTarifaEscalonada.Datos.Moneda">
                                                <option value="">[Seleccione]</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Descripción Tarifa
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="ng-hide" ng-model="$root.DatosFormulario.ReporteTarifaEscalonada.Filtro.CodigoTarifaEscalonada" />
                                            <input class="InputTEXT_06" style="height: 23px; width: 280px;"
                                                   type="text"
                                                   ng-enter="Enter()"
                                                   ng-model="$root.DatosFormulario.ReporteTarifaEscalonada.Datos.NombreTarifa"
                                                   ng-disabled="true" />
                                            <input type="image" ng-click="BuscarTarifa_Click();" value="Buscar" src="\Images\buscar.png" class=""
                                                   style="border-width: 0px; width: 25px; margin-bottom: -10px;">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <!--
                                                          <div class="col-md-2">
                                                              <input type="checkbox" ng-enter="Enter()" ng-model="$root.DatosFormulario.ReporteTarifaEscalonada.Filtro.FlagVigente" />Vigentes
                                                          </div>
                                                          <div class="col-md-10">
                                                          </div>
                                -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="seccion-3">
            <div style="width:100%;float:left">
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>RESULTADO DE BUSQUEDA</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <div id="ContentListadoa7bfece3-7865-406e-ae85-b0d0631f6d85" class="block_content">
                    <div class="form_section" style="width:100%">

                        <div class="forms2">
                            <div class="table-responsive" style="overflow:hidden">

                                <ng-jqgrid config="config" 
                                           addnew="true" 
                                           modeldata="$root.DatosFormulario.ReporteTarifaEscalonada.ListaReporteTarifaEscalonada" 
                                           gridid="grillaListaReporteTarifaEscalonada" 
                                           pagerid="grillaListaReporteTarifaEscalonada_pager" 
                                           api="gridapigrillaListaReporteTarifaEscalonada" 
                                           flgocultarbarrapaginado="0" 
                                           idgrilla="a7bfece3-7865-406e-ae85-b0d0631f6d85" 
                                           titulosinresultados="" 
                                           ocultarexportar="0" 
                                           altogrilla="150px" 
                                           idmarcarprimerresgistro="0" 
                                           ngclickagregar="" 
                                           urllistar="/ReporteTarifaEscalonada/ConsultarReporteTarifaEscalonada" 
                                           flgcargargrilla="0" >
                                    <table id="grillaListaReporteTarifaEscalonada"></table>
                                    <div id="grillaListaReporteTarifaEscalonada_pager"></div>
                                </ng-jqgrid>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>