@{
    Layout = null;
    ViewBag.Usuario = Session["usuario"];
}

<style>
    .navbar-default {
        background-color: transparent!important;
    }

    .navbar-login {
        width: 305px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .navbar-login-session {
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .icon-size {
        font-size: 87px;
    }
</style>
<div id="header" class="wrapper wrapperMediano col-md-12" style="overflow: visible; padding-top: 0px!important; padding-bottom: 0px!important; border: 0px!important">
    <div class="block" style="background-color: white">
        <div class="block_head">
            <div class="bheadl">
                <div class="">
                    <a ng-href="/" target="_self">
                        <img id="tramarsa_logo" src="~/Images/Logo.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
        <div class="contend_menu">
        </div>
    </div>



    <div class="navbar navbar-default" role="navigation" style="margin-bottom: 0px !important; background-color: #0E75B5 !important;">
        <div class="boton_act menuespaciotop2">
            <a class="tituloSistema" ng-href="/" target="_self">Transmisiones Tramarsa</a>
        </div>
        <div class="container" style="width: 100%;">
            <div class="navbar-header">
                <button ng-show="Menus.MenuIzquierdo.length>0" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse">



                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maestros
                                <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- ngRepeat: opcionN2 in opcion.Opciones -->
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/transmision/documentos" class="ng-binding">Tx. Documento</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/transmision/naves" class="ng-binding">Tx. Nave</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/busqueda/buscar-documento" class="ng-binding">Documento</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/busqueda/buscar-persona" class="ng-binding">Persona</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/pais" class="ng-binding">Pais</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/itinerario" class="ng-binding">Itinerario</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/contenedor" class="ng-binding">Contenedor</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/numeroimo" class="ng-binding">Numero IMO</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/claseimo" class="ng-binding">Clase IMO</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/naturalezacarga" class="ng-binding">Naturaleza de Carga</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/condicioncarga" class="ng-binding">Condicion de Carga</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/unidadmercancia" class="ng-binding">Unidad de Mercancia</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/tipomovimiento" class="ng-binding">Tipo de Movimiento</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/condiciontransporte" class="ng-binding">Condicion de Transporte</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/temperatura" class="ng-binding">Temperatura</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/tipocontenedor" class="ng-binding">Tipo de Contenedor</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/tipobl" class="ng-binding">Tipo de BL</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/requerimientoservicio" class="ng-binding">Requerimiento de Servicio</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/condicioncontrato" class="ng-binding">Condicion de Contrato</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/tipoenvio" class="ng-binding">Tipo de Envio</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/precinto" class="ng-binding">Precinto</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/entidadprecinto" class="ng-binding">Entidad de Precinto</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/condicionprecinto" class="ng-binding">Condicion de Precinto</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/tipooperacion" class="ng-binding">Tipo de Operacion</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/rol" class="ng-binding">Rol</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/nave" class="ng-binding">Nave</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/lineanaviera" class="ng-binding">Linea Naviera</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/tipolugarcarga" class="ng-binding">Tipo de Lugar de Carga</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/mediotransporte" class="ng-binding">Medio de Transporte</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/tipoflete" class="ng-binding">Tipo de Flete</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/tiponave" class="ng-binding">Tipo de Nave</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/moneda" class="ng-binding">Moneda</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/modopago" class="ng-binding">Modo de Pago</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/puerto" class="ng-binding">Puerto</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/via-transporte" class="ng-binding">Via de Transporte</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/aduana" class="ng-binding">Aduana</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/maestros/tipodocumento" class="ng-binding">Tipo Documento</a>
                            </li>
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/busqueda/buscar-acescalonado" class="ng-binding">Acuerdos Escalonados</a>
                            </li>
                            <!-- end ngRepeat: opcionN2 in opcion.Opciones -->
                        </ul>

                        @* <ul class="dropdown-menu">
                            <!-- ngRepeat: opcionN2 in opcion.Opciones -->
                            <li class="ng-scope">
                                <a ng-href="/#!/sistema/buscar-puerto" class="ng-binding">Consultar Puerto</a>
                            </li>
                            <!-- end ngRepeat: opcionN2 in opcion.Opciones -->
                        </ul>*@
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ficha Mantenimiento
                                <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="ng-scope">
                                <a ng-href="/Ficha/ConsultaFicha" class="ng-binding" href="/Ficha/ConsultaFicha">Administración Ficha Mantenimiento</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!--<span class="glyphicon glyphicon-user"></span>-->
                            <span class="ui-icon ui-icon-person" style="top: 3px; margin-right: 3px; display: inline-block;"></span>
                            <strong style="font-size: 11px;" class="ng-binding">Administrador</strong>
                            <span class="ui-icon ui-icon-triangle-1-s" style="float: right; top: 3px; margin-right: 3px; display: inline-block;"></span>
                            <!-- <span class="glyphicon glyphicon-chevron-down"></span> -->
                        </a>



                        <ul class="dropdown-menu" style="width: 100%;">
                            <li>
                                <div class="navbar-login">
                                </div>
                            </li>
                            <li><a ng-href="/" href="/">Cerrar Sesión</a></li>
                        </ul>

                    </li>
                </ul>
            </div>

            @* <div class="collapse navbar-collapse">



                <ul class="nav navbar-nav">
                    <li ng-show="Menus.MenuIzquierdo.length>0" ng-repeat="opcion in Menus.MenuIzquierdo" class="{{(opcion.Opciones.length>0?'dropdown':'')}}">
                        <a href="{{(opcion.Opciones.length>0?'#':'#!'+opcion.Url)}}" class="{{(opcion.Opciones.length>0?'dropdown-toggle':'')}}"
                            data-toggle="{{(opcion.Opciones.length>0?'dropdown':'')}}">{{opcion.NombreControl}}
  												<span class="caret" ng-show="opcion.Opciones.length>0"></span>
                        </a>
                        <ul ng-show="opcion.Opciones.length>0" class="{{(opcion.Opciones.length>0?'dropdown-menu':'')}}">
                            <li ng-repeat="opcionN2 in opcion.Opciones">
                                <a ng-href="{{(opcionN2.Opciones.length>0?'':'#!'+opcionN2.Url)}}">{{opcionN2.NombreControl}}</a>
                            </li>
                        </ul>
                    </li>



                </ul>


                <ul ng-show="Menus.MenuIzquierdo.length>0" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!--<span class="glyphicon glyphicon-user"></span>-->
                            <span class="ui-icon ui-icon-person" style="top: 3px; margin-right: 3px; display: inline-block;"></span>
                            <strong style="font-size: 11px;">{{Menus.NombreUsuario}} ({{Menus.RolUsuario}})</strong>
                            <span class="ui-icon ui-icon-triangle-1-s" style="float: right; top: 3px; margin-right: 3px; display: inline-block;"></span>
                            <!-- <span class="glyphicon glyphicon-chevron-down"></span> -->
                        </a>



                        <ul class="dropdown-menu" style="width: 100%;">
                            <li>
                                <div class="navbar-login">
                                </div>
                            </li>
                            <li><a ng-href="{{Menus.UrlCerrarSesion}}">Cerrar Sesión</a></li>
                        </ul>

                    </li>
                </ul>
            </div>*@
        </div>
    </div>
</div>


