@{
    Layout = null;
}

<div class="block" style="">
    <div ng-app="app" ng-controller="RegistroTipoContenedorController">
        <div id="seccion-1">
            @Html.Partial("~/Views/Botonera/AC_BotoneraGrabarMaestro.cshtml")
        </div>
        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Datos Tipo de Contenedor</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="AdministrarTipoContenedorFrm" name="AdministrarTipoContenedorFrm">
                    <div class="block_content" style="width: 100%">

                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                Nombre Tipo de Contenedor
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_05"
                                    type="text" ng-enter="Enter()" maxlength="80"
                                    ng-model="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.NombreTipoContenedor" />
                                <div class="caja11 msgerror NombreTipoContenedor">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.NombreTipoContenedor" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                Codigo Iso
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_01" maxlength="4"
                                    type="text" ng-enter="Enter()"
                                    ng-model="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.CodigoIsoTipoContenedor" />
                                <div class="caja11 msgerror CodigoIsoTipoContenedor">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.CodigoIsoTipoContenedor" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-12 row">
                            <div class="col-md-4">
                                Codigo Iso Grupo
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_01" maxlength="4"
                                    type="text" ng-enter="Enter()"
                                    ng-model="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.CodigoIsoGrupoTipoContenedor" />
                                <div class="caja11 msgerror CodigoIsoGrupoTipoContenedor">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.CodigoIsoGrupoTipoContenedor" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-12 row">
                            <div class="col-md-4">
                                Codigo Aduana
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_01" maxlength="2"
                                    type="text" ng-enter="Enter()"
                                    ng-model="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.CodigoAduanaTipoContenedor" />
                                <div class="caja11 msgerror CodigoAduanaTipoContenedor">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.CodigoAduanaTipoContenedor" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                Tipo
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_01" maxlength="2"
                                    type="text" ng-enter="Enter()"
                                    ng-model="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.CodTipoContenedor" />
                                <div class="caja11 msgerror CodTipoContenedor">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.CodTipoContenedor" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-12 row">
                            <div class="col-md-4">
                                Tamaño
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_01 solonumeros" maxlength="2"
                                    type="text" ng-enter="Enter()"
                                    ng-model="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.TamanioTipoContenedor" />
                                <div class="caja11 msgerror TamanioTipoContenedor">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.TamanioTipoContenedor" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-12 row">
                            <div class="col-md-4">
                                ISO
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_01" maxlength="4"
                                    type="text" ng-enter="Enter()"
                                    ng-model="$root.DatosFormulario.AdministrarTipoContenedor.RegistroDatos.IsoTipoContenedor" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
