@using Viatecla.Factory.Scriptor
@{
  	Layout = null;
}
  <script>if (!window.addEventListener) { window.addEventListener = function (ev,cb) { window.attachEvent('on' + ev, cb); }; }</script>
@section Meta {
	<meta http-equiv="x-ua-compatible" content="IE=8,IE=9,IE=10,IE=11">
	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
  	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
}
@section Head {
  	<link rel="stylesheet" href="/bundles/6df267bd83d3cf8dc6d2269981c3ebcb/6eb687a3-df06-45ba-8efc-f58197919bba/930cf65f-2458-441d-8593-5c6db0c117bf/slick.css" />
	<link rel="stylesheet" href="/bundles/6df267bd83d3cf8dc6d2269981c3ebcb/6eb687a3-df06-45ba-8efc-f58197919bba/160ce82e-b5c2-48a4-b8af-2335373678eb/slick-theme.css" />
  	<style type="text/css">
  	.tituloSistema{
  		display:none;
	}
  
  	</style>
  
	<script src="/bundles/6df267bd83d3cf8dc6d2269981c3ebcb/9a02b174-c326-4108-905f-7b8baf72e135/bc1c7054-25d1-43d0-bf3a-0c48e6bc7f36/slick.min.js"></script>
  
  
  
}
  
  <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>API Ransa</title>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <img src="img/logo.jpg" alt="logo" />
      </div>
      <nav>
        <ul>
          <li class="dropdown"><a href="#">Administración</a>
            <ul class="submenu">
            <li><a href="#">Consulta API</a></li>
            </ul>
        </li>
          <li class="dropdown"><a href="#">Mantenimiento</a>
            <ul class="submenu">
              <li><a href="#">Maestros</a></li>
              <li><a href="#">Tipo de cambio</a></li>
              <li><a href="#">Coordinadores</a></li>
              <li><a href="#">Administradores</a></li>
              <li><a href="#">Aprobadores</a></li>
              <li><a href="#">Valores de aprobación</a></li>
              <li><a href="#">Tablas generales</a></li>
              <li><a href="#">Carga Masiva OI</a></li>
              <li><a href="#">Carga Inicial Monto Base</a></li>
            </ul>
          </li>
        </ul>
      </nav>
  
 
  <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
