@{
    Layout = null;
}
<div class="block ng-scope" style="max-width: 800px; max-height: 800px;">
    <div ng-app="app" ng-controller="RegistroDocumentoDetalleFleteController">
        @Html.Partial("~/Views/Botonera/BotoneraClasicaSinBuscar.cshtml")
        @Html.Partial("~/Views/Contenido/Flete_RegistroDatosGenerales.cshtml")
    </div>
</div>