@{
    Layout = null;
}
<div class="block ng-scope" style="max-width: 1800px; max-height: 1800px;">
    <div ng-app="app" ng-controller="RegistroDocumentoDetalleCargaController">
        @Html.Partial("~/Views/Botonera/BotoneraClasicaSinBuscar.cshtml")
        @Html.Partial("~/Views/Contenido/Carga_RegistroDatosGenerales.cshtml")
    </div>
</div>