@{
    Layout = null;
}

<div class="block" style="">
    <div ng-app="app" ng-controller="ConsultaDepositoDefaultController">
        <!-- BOTONERA -->
        <div id="seccion-1">
            @Html.Partial("~/Views/Botonera/AC_Botonera_Buscar_Nuevo_Limpiar_Salir.cshtml")
        </div>
        <!-- BOTONERA -->
        <!-- FILTROS BUSQUEDA -->
        <div id="seccion-2">
                <div>
                    <div class="block_cab block_cab_active">
                        <h2>
                            <span>Consulta Dep&oacute;sito Default</span>
                        </h2>
                        <h3></h3>
                        <div class="acordeon">
                        </div>
                    </div>
                    <form id="ConsultaDepositoDefaultFrm" name="ConsultaDepositoDefaultFrm">
                        <div class="block_content" style="width:100%">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-12 row">
                                            <div class="col-md-4">
                                                Linea
                                            </div>
                                            <div class="col-md-8">

                                                <select ng-model="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoLinea"
                                                        ng-options="linea.Codigo as linea.Nombre for linea in $root.DatosFormulario.FiltrosConsultaDepositoDefaultCargaInicial.Lineas"
                                                        class="InputSELECT_01"
                                                        id="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoLinea"
                                                        name="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoLinea"
                                                        ng-change="ChangeLineaNaviera($root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoLinea)">
                                                    <option value="">[Seleccione]</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-12 row">
                                            <div class="col-md-4">
                                                Tipo Contenedor
                                            </div>
                                            <div class="col-md-8">

                                                <select ng-model="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoTipoContenedor"
                                                        ng-options="TipoContenedor.CodigoTipoContenedor as TipoContenedor.Descripcion for TipoContenedor in $root.DatosFormulario.FiltrosConsultaDepositoDefaultCargaInicial.TipoContenedor"
                                                        class="InputSELECT_01"
                                                        id="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoTipoContenedor"
                                                        name="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoTipoContenedor">
                                                    <option value="">[Seleccione]</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-12 row">
                                            <div class="col-md-4">
                                                Deposito
                                            </div>
                                            <div class="col-md-8">
                                                <select ng-model="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoDeposito"
                                                        ng-options="deposito.CodigoDeposito as deposito.DescripcionDeposito for deposito in $root.DatosFormulario.FiltrosConsultaDepositoDefaultCargaInicial.Deposito" class="InputSELECT_01">
                                                    <option value="">[Seleccione]</option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12 row">
                                            <div class="col-md-4">
                                                Sucursal
                                            </div>
                                            <div class="col-md-8">

                                                <select ng-model="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoSucursal"
                                                        ng-options="sucursal.Codigo as sucursal.Nombre for sucursal in $root.DatosFormulario.FiltrosConsultaDepositoDefaultCargaInicial.Sucursal"
                                                        class="InputSELECT_01"
                                                        id="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoSucursal"
                                                        name="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoSucursal">
                                                    <option value="">[Seleccione]</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-12 row">
                                            <div class="col-md-4">
                                                Estado
                                            </div>
                                            <div class="col-md-8">

                                                <select ng-model="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoEstado"
                                                        ng-options="estado.Codigo as estado.Descripcion for estado in $root.DatosFormulario.FiltrosConsultaDepositoDefaultCargaInicial.Estados"
                                                        class="InputSELECT_01"
                                                        id="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoEstado"
                                                        name="$root.DatosFormulario.FiltrosConsultaDepositoDefault.Filtro.CodigoEstado">
                                                    <option value="">[Seleccione]</option>
                                                </select>

                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <!-- FILTROS BUSQUEDA -->
        <!-- RESULTADO BUSQUEDA -->
        <div id="seccion-3">
                <div style="width:100%;float:left">
                    <div class="block_cab block_cab_active">
                        <h2>
                            <span>RESULTADO DE BUSQUEDA</span>
                        </h2>
                        <h3></h3>
                        <div class="acordeon">
                        </div>
                    </div>
                    <div id="ContentListado17ed1f59-3645-4fee-8380-f04ce247e89c" class="block_content">
                        <div class="form_section" style="width:100%">

                            <div class="forms2">
                                <div class="table-responsive" style="overflow:hidden">

                                    <ng-jqgrid config="config"
                                               addnew="true"
                                               modeldata=""
                                               gridid="grillaListaDepositoDefault"
                                               pagerid="grillaListaDepositoDefault_pager"
                                               api="gridapigrillaListaDepositoDefault"
                                               flgocultarbarrapaginado="0"
                                               idgrilla="17ed1f59-3645-4fee-8380-f04ce247e89c"
                                               titulosinresultados=""
                                               ocultarexportar="0"
                                               altogrilla="150px"
                                               idmarcarprimerresgistro="0"
                                               ngclickagregar=""
                                               urllistar="/DepositoDefault/ConsultarDepositoDefault"
                                               flgcargargrilla="0">
                                        <table id="grillaListaDepositoDefault"></table>
                                        <div id="grillaListaDepositoDefault_pager"></div>
                                    </ng-jqgrid>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- RESULTADO BUSQUEDA -->
    </div>
</div>
