@{
    Layout = null;
}

<div class="block" style="">
    <div ng-app="app" ng-controller="RegistroTipoOperacionController">
        <div id="seccion-1">
            @Html.Partial("~/Views/Botonera/AC_BotoneraGrabarMaestro.cshtml")
        </div>
        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Datos Tipo de Operacion</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="AdministrarTipoOperacionFrm" name="AdministrarTipoOperacionFrm">
                    <div class="block_content" style="width: 100%">

                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                Codigo Sunat
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_05 solonumeros" maxlength="2"
                                    type="text" ng-enter="Enter()"
                                    ng-model="$root.DatosFormulario.AdministrarTipoOperacion.RegistroDatos.CodigoTipoOperacionSunat" />
                                <div class="caja11 msgerror CodigoTipoOperacionSunat">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTipoOperacion.RegistroDatos.CodigoTipoOperacionSunat" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                Nombre Tipo de Operacion
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_01" maxlength="50"
                                    type="text" ng-enter="Enter()"
                                    ng-model="$root.DatosFormulario.AdministrarTipoOperacion.RegistroDatos.NombreTipoOperacion" />
                                <div class="caja11 msgerror NombreTipoOperacion">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTipoOperacion.RegistroDatos.NombreTipoOperacion" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
