@{
    Layout = null;
}

<div class="block" style="">
    <div ng-app="app" ng-controller="AdministrarTransmisionDocumentoController">
        <div id="seccion-1">
            @Html.Partial("~/Views/Botonera/AC_BotoneraBusquedaTransmision.cshtml")
        </div>
        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Administrar Transmision Documentos</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="AdministrarTransmisionDocumentoFrm" name="AdministrarTransmisionDocumentoFrm">
                    <div class="block_content" style="width: 100%">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-3">
                                            Itinerario/Nave
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="ng-hide" ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.CodigoItinerario" />
                                            <input class="InputTEXT_05" style="height: 23px; width: 280px;"
                                                   type="text"
                                                   ng-enter="Enter()"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.NombreNave"
                                                   ng-disabled="true" />
                                            <input type="image" ng-click="BuscarItinerario_Click();" value="Buscar" src="\Images\buscar.png" class=""
                                                   style="border-width: 0px; width: 25px; margin-bottom: -10px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            Viaje
                                        </div>
                                        <div class="col-md-9">
                                            <input class="InputTEXT_05" style="height: 23px; width: 280px;"
                                                   type="text"
                                                   ng-enter="Enter()"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.NumeroViajeItinerario"
                                                   ng-disabled="true" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            Aduana
                                        </div>
                                        <div class="col-md-9">
                                            <input class="InputTEXT_05" style="height: 23px; width: 280px;"
                                                   type="text"
                                                   ng-enter="Enter()"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.NombreAduanaNave"
                                                   ng-disabled="true" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            Tipo de Operacion
                                        </div>
                                        <div class="col-md-9">
                                            <input class="InputTEXT_05" style="height: 23px; width: 280px;"
                                                   type="text"
                                                   ng-enter="Enter()"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.NombreTipoOperacion"
                                                   ng-disabled="true" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            Numero Manifiesto
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_05 solonumeros"
                                                   type="text" ng-enter="Enter()" maxlength="6"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.NumeroManifiestoItinerario" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Año Manifiesto
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_05 solonumeros"
                                                   type="text" ng-enter="Enter()" maxlength="4"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.AnioManifiestoItinerario" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            N. Documento
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_05" maxlength="25" type="text" ng-enter="Enter()"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.NumeroDocumento" />
                                            <div class="caja11 msgerror NumeroDocumentoDocumento">
                                                <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.NumeroDocumento" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            Enviado Sunat
                                        </div>
                                        <div class="col-md-8">
                                            <input type="checkbox" ng-enter="Enter()" ng-change="EventoChange_EnvioAduanas();"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.EstadoEnvioAduanas" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Transmitido Sunat
                                        </div>
                                        <div class="col-md-8">
                                            <input type="checkbox" ng-enter="Enter()" ng-change="EventoChange_EstadoTransmision();"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.EstadoTransmision" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Todos
                                        </div>
                                        <div class="col-md-8">
                                            <input type="checkbox" ng-enter="Enter()" ng-change="EventoChange_chkTodos();"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.Todos" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            Fecha Inicial
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_04Fecha"
                                                   maxlength="10" type="text"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.FechaInicio"
                                                   data-bind="dateValue: $root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.FechaInicio, datePattern: 'dd/MM/yyyy'"
                                                   data-val="true"
                                                   data-val-date="Fecha Inicio debe ser una fecha."
                                                   id="FechaInicio"
                                                   ng-enter="Enter()"
                                                   name="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.FechaInicio"
                                                   required />
                                            <div class="caja11 msgerror FechaInicio">
                                                <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.FechaInicio" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Fecha Final
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_04Fecha"
                                                   maxlength="10" type="text"
                                                   ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.FechaFin"
                                                   data-bind="dateValue: $root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.FechaFin, datePattern: 'dd/MM/yyyy'"
                                                   data-val="true"
                                                   data-val-date="Fecha Fin debe ser una fecha."
                                                   id="FechaFin"
                                                   ng-enter="Enter()"
                                                   name="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.FechaFin"
                                                   required />
                                            <div class="caja11 msgerror FechaFin">
                                                <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.FechaFin" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Tipo de Envio
                                        </div>
                                        <div class="col-md-8">
                                            <select ng-model="$root.DatosFormulario.AdministrarTransmisionDocumento.Filtro.CodigoTipoEnvio"
                                                    ng-options="tipoenvio.CodigoTipoEnvio as tipoenvio.NombreTipoEnvio for tipoenvio in $root.DatosFormulario.TransmisionDocumentoIndex.TiposEnvio" class="InputSELECT_01">
                                                <option value="">[Seleccione]</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="caja11 msgerror listaSeleccionada"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="seccion-3">
            <div style="width: 100%; float: left">

                <div class="block_cab block_cab_active">
                    <h2>
                        <span>RESULTADO DE BUSQUEDA</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <div id="ContentListado1a0b5f06-bb91-4713-aa00-966ef96a2001" class="block_content">
                    <div class="form_section" style="width: 100%">
                        <div class="forms2">
                            <div class="table-responsive" style="overflow: hidden">
                                <ng-jqgrid config="config"
                                           addnew="true"
                                           modeldata="$root.DatosFormulario.AdministrarTransmisionDocumento.ListaTransmisionDocumento"
                                           gridid="grillaListaTransmisionDocumento"
                                           pagerid="grillaListaTransmisionDocumento_pager"
                                           api="gridapigrillaListaTransmisionDocumento"
                                           flgocultarbarrapaginado="0"
                                           idgrilla="1a0b5f06-bb91-4713-aa00-966ef96a2001"
                                           titulosinresultados=""
                                           ocultarexportar="0"
                                           altogrilla="150px"
                                           idmarcarprimerresgistro="0"
                                           ngclickagregar=""
                                           urllistar="/TransmisionDocumento/BusquedaTransmisionDocumento"
                                           flgcargargrilla="0">
                                    <table id="grillaListaTransmisionDocumento"></table>
                                    <div id="grillaListaTransmisionDocumento_pager"></div>
                                </ng-jqgrid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
