@{
    Layout = null;
}
<div class="block" style="">
    <div ng-app="app" ng-controller="AdministrarLineaNavieraController">
        <div id="seccion-1">
            @Html.Partial("~/Views/Botonera/AC_BotoneraBusquedaAcuerdoComercial.cshtml")
        </div>
        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>ADMINISTRAR LINEA NAVIERA</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="AdministrarLineaNavieraFrm" name="AdministrarLineaNavieraFrm">
                    <div class="block_content" style="width: 100%">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            Nombre Linea Naviera
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_05"
                                                type="text" ng-enter="Enter()" maxlength="80"
                                                ng-model="$root.DatosFormulario.AdministrarLineaNaviera.Filtro.NombreLineaNaviera" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            RUC de Linea Naviera 
                                        </div>
                                        <div class="col-md-8">
                                            <input class="InputTEXT_05 solonumeros"
                                                type="text" ng-enter="Enter()" maxlength="11"
                                                ng-model="$root.DatosFormulario.AdministrarLineaNaviera.Filtro.RucLineaNaviera" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="seccion-3">
            <div style="width: 100%; float: left">
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>RESULTADO DE BUSQUEDA</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <div id="ContentListado1a0b5f06-bb91-4713-aa00-966ef96ad995" class="block_content">
                    <div class="form_section" style="width: 100%">
                        <div class="forms2">
                            <div class="table-responsive" style="overflow: hidden">
                                <ng-jqgrid config="config"
                                    addnew="true"
                                    modeldata="$root.DatosFormulario.AdministrarLineaNaviera.ListaMaestroLineaNaviera"
                                    gridid="grillaListaMaestroLineaNaviera"
                                    pagerid="grillaListaMaestroLineaNaviera_pager"
                                    api="gridapigrillaListaMaestroLineaNaviera"
                                    flgocultarbarrapaginado="0"
                                    idgrilla="1a0b5f06-bb91-4713-aa00-966ef96ad995"
                                    titulosinresultados=""
                                    ocultarexportar="0"
                                    altogrilla="150px"
                                    idmarcarprimerresgistro="0"
                                    ngclickagregar=""
                                    urllistar="/LineaNaviera/ConsultaLineaNaviera"
                                    flgcargargrilla="0">
                                    <table id="grillaListaMaestroLineaNaviera"></table>
                                    <div id="grillaListaMaestroLineaNaviera_pager"></div>
                                </ng-jqgrid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
