@{
    Layout = null;
}

<div class="block" style="">
    <div ng-app="app" ng-controller="RegistroTipoDocumentoController">
        <div id="seccion-1">
            @Html.Partial("~/Views/Botonera/AC_BotoneraGrabarMaestro.cshtml")
        </div>
        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Datos TipoDocumento</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <form id="AdministrarTipoDocumentoFrm" name="AdministrarTipoDocumentoFrm">
                    <div class="block_content" style="width: 100%">

                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                Codigo Sunat Tipo Documento
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_05 solonumeros"
                                    type="text" ng-enter="Enter()" maxlength="3"
                                    ng-model="$root.DatosFormulario.AdministrarTipoDocumento.RegistroDatos.CodigoTipoDocumentoSunat" />
                                <div class="caja11 msgerror CodigoTipoDocumentoSunat">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTipoDocumento.RegistroDatos.CodigoTipoDocumentoSunat" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                Nombre Tipo Documento
                            </div>
                            <div class="col-md-8">
                                <input class="InputTEXT_01" maxlength="50"
                                    type="text" ng-enter="Enter()"
                                    ng-model="$root.DatosFormulario.AdministrarTipoDocumento.RegistroDatos.NombreTipoDocumento" />
                                <div class="caja11 msgerror NombreTipoDocumento">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.AdministrarTipoDocumento.RegistroDatos.NombreTipoDocumento" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
