@{
    Layout = null;
}

<div class="block" style="">

    <div ng-app="app" ng-controller="RegistroNotificacionController">
        <div id="seccion-1">
            @Html.Partial("~/Views/Botonera/AC_Botonera_Guardar_Modif_Deshab_Salir.cshtml")
        </div>
        <div id="seccion-2">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Programación de la Notificación</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <div class="block_content" style="width:100%">

                    <form id="frmProgramacion">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="col-md-12 row rowAlto2">
                                    <div class="col-md-3 ">
                                        Línea Naviera:
                                    </div>
                                    <div class="col-md-9">
                                        <select ng-model="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.CodigoLinea"
                                                ng-change="ChangeLinea()"
                                                ng-disabled="$root.DatosFormulario.RegistroNotificacion.DatosView.Habilitado=='False' || FlagEditing==false"
                                                ng-options="linea.Codigo as linea.Nombre for linea in $root.DatosFormulario.RegistroNotificacion.DatosView.ListLinea" class="InputSELECT_01">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                        <div class="caja11 msgerror CodigoLinea">
                                            <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.CodigoLinea" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row rowAlto2">
                                    <div class="col-md-3">
                                        Fecha de Inicio Ejecución:
                                    </div>
                                    <div class="col-md-3">
                                        <input class="InputTEXT_04Fecha" maxlength="10"
                                               type="text"
                                               ng-model="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.FechaHoraEjecucion"
                                               data-val="true"
                                               id="MaxDateProgramacion"
                                               ng-enter="Enter()"
                                               data-bind="dateValue: $root.DatosFormulario.RegistroNotificacion.DatosRegistro.FechaHoraEjecucion,datePattern: 'dd/MM/yyyy'"
                                               data-val-required="Fecha Ejecución es requerido"
                                               data-val-date="Fecha Ejecución debe ser una fecha."
                                               ng-disabled="FlagEditing==false" />
                                        <div class="caja11 msgerror FechaHoraEjecucion">
                                            <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.FechaHoraEjecucion" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        Hora:
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" ng-model="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.HoraEjecucion"
                                               data-bind="value: $root.DatosFormulario.RegistroNotificacion.DatosRegistro.HoraEjecucion"
                                               class="InputTEXT_05 timepicker"
                                               name="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.HoraEjecucion"
                                               data-val="true"
                                               ng-disabled="FlagEditing==false"
                                               ng-enter="Enter()"
                                               style="width: 100px">
                                        <div class="caja11 msgerror HoraEjecucion">
                                            <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.HoraEjecucion" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row rowAlto2">
                                    <div class="col-md-3 ">
                                        Frecuencia:
                                    </div>
                                    <div class="col-md-9">
                                        <input class="InputTEXT_SX_05 solonumeros"
                                               type="text"
                                               ng-enter="Enter()"
                                               ng-disabled="FlagEditing==false"
                                               ng-model="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.Frecuencia" />
                                        <select ng-model="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.CodigoTipoFrecuencia"
                                                ng-disabled="FlagEditing==false"
                                                ng-options="frecuencia.Codigo as frecuencia.Descripcion for frecuencia in $root.DatosFormulario.RegistroNotificacion.DatosView.ListTipoFrecuencia"
                                                class="InputSELECT_01">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                        <div class="caja11 msgerror Frecuencia">
                                            <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.Frecuencia" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
        <div id="seccion-3">
            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Cabecera de Correo</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <div class="block_content" style="width:100%">

                    <form id="frmCabecera">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12 row rowAlto2">
                                    <div class="col-md-3 ">
                                        Asunto:
                                    </div>
                                    <div class="col-md-9">
                                        <input class="InputTEXT_06" style="height: 25px; width: 100%;"
                                               type="text"
                                               ng-model="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.Asunto"
                                               ng-disabled="FlagEditing==false"
                                               ng-enter="Enter()" />
                                        <div class="caja11 msgerror Asunto">
                                            <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.Asunto" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

        </div>
        <div id="seccion-4">

            <div>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Detalle de Correo</span>
                    </h2>
                    <h3></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <div class="block_content" style="width:100%">

                    <form id="frmDetalle">
                        <div class="row">
                            <div class="col-md-12" id="DetalleCorreoBody">
                                <textarea name="textarea" id="detalleNotificacion"></textarea>
                                <div class="caja11 msgerror DetalleCorreo">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.RegistroNotificacion.DatosRegistro.DetalleCorreo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
